/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #38359e;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
}

li {
    font-size: 1.5rem;
}

/* NAV */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #53ebff;
    min-height: 10vh;
    flex: 1 1 40px;
}

nav a,
li {
    text-decoration: none;
    color: black;
    list-style-type: none;
    margin: 1rem;
}

nav ul {
    display: flex;
}

/* HERO-SECTION */

.hero {
    min-height: 90vh;
    background: url("/img/tower.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Monoton', cursive;
}

.hero h1 {
    font-size: 5rem;

}