/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(6, 6, 39);
    font-family: 'Roboto', sans-serif;
}

/* NAV */
.main-head {}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #53d8fb;
    min-height: 10vh;
    flex: 1 1 40px;
}

nav a,
li {
    text-decoration: none;
    color: black;
    list-style-type: none;
    margin: 1rem;
}

nav ul {
    display: flex;
}