@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", sans-serif;
}


p,h1,h2,h3,h4,li {
  color: orange;
}

body {
  background-color: #3d6cb9;
  background-size: cover;
  font-size: 110%;
}


li,a,
button {
  font-family: "Roboto Light", sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
  list-style: none;
}


header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 25px 10vw;
  background-color: #25259b;
  height: 100px;
  border-bottom: yellow 2px solid;
  margin-top: -10px;

}


.logo {
  cursor: pointer;

}

.clear {
 width:100%;
 height:10px;
}

#navbar ul {}


#navbar li {
  display: inline-flex;
  padding: 0 20px;
}


#navbar li a {
  transition: all 0.4s ease 0s;
  color: orange;
}


#navbar li a:hover {
  transition: all 0.4s ease 0s;
  color: yellow;
  
}

.img-heading{
padding-top: 50px;
width: 100%;
}

.img-heading{
  text-align: center;
}
section {
  margin: 10px 0;
  width: 75vw;
  align-content: center;
  margin-left: 12.5vw;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}


section h2 {
  padding-left: 40%;

}

section img {
  width: 23vw
}


.row {
  padding-top: 10px;
}


.row img {
  border: rgb(201, 139, 58) 1px solid;
  height: 50vh;
}

.hotdogfact{
  width:75vw;
  border: orange 2px solid;
}

.hotdogfact h1{
  text-align: center;
 
}
.align{
  display:flex;
}
.quote {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 80wv;
}

.infoimg{
  width: 25vw;
}

.info{width: 20vw;
margin-left: 20px;}

.info li{
  list-style: url(img/check.png);
  margin-bottom: 90px;
  font-size:1.5em ;
  cursor: default;
}

.info a{
  color: orange;
}
.info li::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: orange;
  transition: all 0.5s ease-in;

}

.info li:hover{
  color: yellow;
  transition: all 1s ease 0s;
}
.info li:hover::after{
  width: 100%;
  transition: 0.5s ease-out 0s;

}

.footer{
  width: 100vw;
display: inline-block;
flex-direction: row;
background-color:#25259b ;
}

.footer h3{margin: 0 0 0 20px;}

.profilbilde img{
  height: 5rem;
  width:5rem;
  border-radius: 50%;
  overflow: hidden;
  display:inline-block;
  margin-left: 20px;
}

.footer-info{
  display: inline-flex;
  flex-direction: row;
}

.footer-info p {
  margin-left: 10px;
}
@media (max-width: 1400px) {
  h1{
    font-size: 110%;
  }
}
@media (max-width: 1000px) {

  li,a,h1 {
    font-size: 90%
  }
.row img{
  height:auto;
  width: 70%;
  margin-left: 20%;
}
.align{
  display: inline-flex;
  flex-direction: column;

}
.align li{
margin-left: 30%;
}
section h2{
  font-size: 7100;
  text-align: left;
  margin-left: 0%
}
}

@media (max-width: 700px) {

  li,a,h1 {
    font-size: 85%
  }
.row img{
  height:auto;
  width: 60%;
  margin-left: 20%;
}
.align{
  display: inline-flex;
  flex-direction: column;

}
.align li{
margin-left: 30%;
}
section h2{
  font-size: 110%;
  text-align: left;
  margin-left: -10%
}
}
@media (max-width: 250px) {
 section h2{
    size:70%
  }
  }
